/* `````````````````````````COLOR PALETTE ````````````````````
Space Cadette               #141B41
Solid Pink                  #873D48
Pink Lavender               #DCB6D5
*/
*{
    background:#DCB6D5;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
#gameBox{
    height: 500px;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    border: 12px solid #141B41;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    background: #873D48;
    color: #DCB6D5;
}
#gameBox > div{
    width:100%;
    height: 100%;
    background: #873D48;
    border: 2px solid #141B41;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    color: #DCB6D5;
    text-shadow: 2px 2px #141B41;
}
#gameBox > div > img {
    width: 80%;
}
#gameBox > #middleBox{
    background-image: url("img/unicorn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 30px;
    text-shadow: 2px 2px #141B41;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
/*      winscherm               */
#gameBox >.win{
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: 100%;
}
#gameBox > p{
    font-size: 40px;
}
.newWord{
    background: #141B41;
    color:#DCB6D5;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;

}

/* key frames voor foute sprong: */
@keyframes illegalMove {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
.illegalMove {
    animation-name: illegalMove;
    animation-duration: 1s;
    background: #141B41;
}
.horseBtn{
    background-color: #141B41;
    margin: 0 5px;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    color: #DCB6D5;
    text-shadow: 1px 1px #141B41;
    letter-spacing: 1px;
}